* {
    font-family: 'Montserrat', sans-serif;
}


a {
    text-decoration: none;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.253), rgba(0, 0, 0, 0.188)), url("img/pexels-photo-3992206.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 729px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    align-items: center;
}

header .icon {
    color: rgb(217, 255, 0);
    font-size: 45px;
    position: relative;
    padding-left: 100px;
    white-space: 0;
}

header .logo {
    color: white;
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 1.5px;
    font-family: 'Indie Flower', cursive;
    margin: 0;
    padding: 0;
    word-spacing: 0pc;
}

.nav {
    width: 570px;
}

.search .btn {
    size: 40px;
    height: 40px;
    color: #adef03;
    border-radius: 8px;
    font-size: 20px;
}

.search .btn:hover {
    color: aliceblue;
}

.search .inpt {
    font-size: 20px;
    background-color: transparent;
    border-radius: 5px;
    border-color: #adef03;
    size: 40px;
    height: 30px;
    color: aliceblue;
}

.nav ul li {
    display: inline;
    padding-left: 20px;
}

.nav a {
    color: #daf594;
    font-size: 25px;
    font-weight: 600;
    padding-left: 20px;
    width: 200px;
}

.nav a:hover {
    color: aliceblue;
    text-decoration: none;
}

.title {
    color: #faf606;
    padding-top: 100px;
    font-size: 50px;
    font-weight: 700;
    padding-left: 100px;
}

.title span {
    color: white;
}

.para {
    color: white;
    width: 500px;
    padding-left: 100px;
    font-weight: 450;
    font-size: 25px;
    text-align: justify;
}

.signup {
    padding-left: 100px;
}

.sign {
    width: 160px;
    height: 50px;
    background-color: #edd732;
    color: #2d2d2d;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    border-radius: 10px;
    outline: none;
}

.sign:hover {
    transform: scale(1.05);
    cursor: pointer;
    background-color: #c0af2a;
}

.sign a {
    color: black;
}

.form {
    width: 400px;
    height: 440px;
    background: linear-gradient(to top, rgba(170, 219, 46, 0.197), rgba(169, 246, 2, 0.279));
    position: absolute;
    top: 220px;
    left: 1050px;
    border-radius: 15px;
}

.form h2 {
    color: rgba(255, 255, 255, 0.915);
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: 900;
    height: 80px;
    align-items: center;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
}

.form h3 {
    color: white;
    background-color: transparent;
    margin-bottom: 2px;
    font-size: 17px;
}

.form .btn {
    width: 100px;
    height: 35px;
    background-color: #fff6aa;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    border-radius: 10px;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    color: black;
}

.login i,
.login a {
    color: black;
}

.form .btn:hover {
    transform: scale(1.05);
    cursor: pointer;
    background-color: #c0af2a;
}

.formcontent {
    padding-left: 40px;
}

.form input {
    color: white;
    background-color: transparent;
    width: 300px;
    height: 25px;
    border-color: transparent;
    border-bottom-color: #2d2d2d;
    font-size: 20px;
}

.form p {
    color: azure;
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 13px;
}

.form .icon {
    display: flex;
    margin-top: 0;
    justify-content: center;
}

.form .icon i {
    padding: 10px;
    padding-top: 0;
    color: azure;
    font-size: 25px;
    font-weight: 600;
}

.form .icon i:hover {
    color: #2d2d2d;
}

.login {
    color: black;
}

@media screen and (max-width: 1023px) {

    body {
        height: 900px;
        width: 500px;
        background-position: top-center;
        background-repeat: repeat;
    }

    header .logo {
        font-size: 40px;
        font-weight: 600;
    }

    header .icon {
        font-size: 40px;
        padding-left: 15px;
    }

    .inpt {
        font-size: 10px;
        size: 25px;
        height: 10px;
        width: 150px;
        margin-top: 50px;
        margin-left: 25px;
    }

    .search .btn {
        display: none !important;
    }

    .title,
    .signup,
    .para {
        padding-left: 10px;
        padding-right: 10px;
    }

    .nav {
        margin-top: 50px;
        margin-left: 25px;
    }

    .form {
        width: 400px;
        height: 400px;
        background: linear-gradient(to top, rgba(170, 219, 46, 0.197), rgba(169, 246, 2, 0.279));
        position: absolute;
        top: 850px;
        left: 50px;
        bottom: 30px;
        border-radius: 15px;
    }
}
